/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.layout-container {
  background: var(--background-colors-dark-background-background-dark, #020811);
}

.formattedTextBlock ul li {
  list-style-type: none;
}
.formattedTextBlock ul {
  padding: 0;
}
.liSolution img {
  width: 1.5rem;
  height: 1.5rem;
}
#panoplia-text {
  background: linear-gradient(126deg, #16ee9d 25.49%, #08a0f3 61.78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  font-size: 2rem;
}
.mediaLocation-bigBoxImgHeaderTextLink {
  padding: 32px !important;
}

.mediaLocation-bigBoxImgHeaderTextLink .colBGimg img {
  max-height: 300px;
  width: auto;
  height: auto;
  max-width: 80%;
  margin: 0 auto 32px;
  display: block;
}

.page-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 1px solid grey;
  border-radius: 7px;
}

.page-navigation:hover {
  border: 1px solid #35adf4;
}
