.layout-container {
  background: var(--background-colors-dark-background-background-dark, #020811);
}

.formattedTextBlock ul li {
  list-style-type: none;
}
.formattedTextBlock ul {
  padding: 0;
}
.liSolution img {
  width: 1.5rem;
  height: 1.5rem;
}
#panoplia-text {
  background: linear-gradient(126deg, #16ee9d 25.49%, #08a0f3 61.78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  font-size: 2rem;
}
.mediaLocation-bigBoxImgHeaderTextLink {
  padding: 32px !important;
}

.mediaLocation-bigBoxImgHeaderTextLink .colBGimg img {
  max-height: 300px;
  width: auto;
  height: auto;
  max-width: 80%;
  margin: 0 auto 32px;
  display: block;
}

.page-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 1px solid grey;
  border-radius: 7px;
}

.page-navigation:hover {
  border: 1px solid #35adf4;
}
