.header-container {
  z-index: 9;
  width: 100vw;
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: var(
    --Background-Colors-Dark-Background-Secondary-Background,
    #0f141d
  );
}

#header {
  height: 5rem;
  width: 100%;
  padding: 0 6.5rem;
}

#menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2.5rem;
  max-width: 30rem;
}

#item-1 {
  white-space: nowrap;
}

.menu-item {
  color: #ffffffb2;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu0link .menu-item {
  border-bottom: 1px solid grey;
  padding: 16px 0 16px 8px;
  transition: all 0.3s;
}

.menu-item:hover {
  color: #35adf4;
}

.blue-text {
  color: #35adf4;
}

#sign-up-button {
  background: linear-gradient(-225deg, #2dd4bf 0%, #3b82f6 100%);
  border-radius: 0.375rem;
  border: 1px solid var(--Button, #35adf4);
  padding: 8px 16px;
  color: white;
  -webkit-background-clip: text;
  background-clip: text;
}

#sign-up-button:hover {
  -webkit-background-clip: unset;
  background-clip: unset;
  -webkit-text-fill-color: white;
}

#mobile-menu {
  display: none;
  position: absolute;
  top: 66px;
  width: 145%;
  padding: 0 23%;
  box-shadow: 0 6px 13px rgba(0, 0, 0, 0.1);
}

.sub-menu {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: var(
    --Background-Colors-Dark-Background-Secondary-Background,
    #0f141d
  );
  padding: 2rem 4rem;
  justify-content: center;

  /* Add the following CSS at the end of your existing styles */
}
.show {
  animation: slideDown 0.2s ease-in-out;
}

.hide {
  animation: slideUp 0.3s ease-in-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-10%);
    opacity: 0;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hearder-item-text {
  color: #fff;
  font-family: Gilroy-SemiBold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-description-text {
  color: rgba(255, 255, 255, 0.7);
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navigation-wrapper {
  color: var(--Accent, #35adf4);
  font-family: Gilroy-SemiBold;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  display: flex;
}

.menu-icon {
  display: none;
}

@media (max-width: 992px) {
  #menu-items {
    display: none;
  }

  .menu-icon {
    display: block;
  }
  #sign-up-button {
    display: none;
  }
  #header {
    padding: 1rem;
    width: 100%;
  }
}

#container-1 {
  width: 20rem;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding-right: 3.62rem;
}

#container-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 2rem;
  gap: 1.5rem;
}

#container-3 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

#container-3 h1 {
  color: white;
  font-size: 1rem;
  font-family: Gilroy-SemiBold;
}

.container-4 {
  display: flex;
  justify-content: center;
  gap: 0.375rem;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: center;
  height: 6rem;
  padding: 12px;
  margin-left: -12px;
  text-decoration: none;
}

.container-5 {
  display: flex;
  height: 1.75rem;
  width: 1.75rem;
  /* background-color: #35ADF4; */
}

.container-6 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: var(--White, #fff);
  font-family: Gilroy-SemiBold;
  max-width: 17rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-6 p {
  width: 17.625rem;
  height: 2.125rem;
  color: rgba(255, 255, 255, 0.7);
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-6 h1 {
  color: var(--White, #fff);
  font-family: Gilroy-SemiBold;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.container-4:hover {
  border: 12px solid var(--3rd-Background, #2a2a2a);
  background: var(--3rd-Background, #2a2a2a);
  padding: 0;
}

a {
  text-decoration: none;
}
